body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  height: 100vh;
  margin: 0;
  padding: 0; /* Ensure no padding interferes */
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw; /* Use viewport width to cover the entire screen */
  background-color: white; /* Set header background to white */
  color: black; /* Set header text color to black */
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box; /* Include padding in width calculations */
}

.logo {
  width: 225px;
  height: auto;
}

.middle-text {
  font-size: 5em;
  color: white; /* Set the middle text color to white */
  text-align: center;
  margin-top: 50vh; /* Pushes the text down to center it vertically */
  transform: translateY(-50%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  flex-grow: 1;
  width: 100%;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: black; /* Set nav link color to black */
}

