body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw; /* Use viewport width to cover the entire screen */
  background-color: white; /* Set header background to white */
  color: black; /* Set header text color to black */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculations */
}

.logo {
  width: 225px;
  height: auto;
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /* 75% of the viewport height */
  width: 100%;
  background-color: black;
  color: white;
}

.middle-text {
  font-size: 4.5em; /* Set the font size to 4.5em */
  text-align: center;
  margin: 0;
}

.sub-text {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px; /* Add some space below the main text */
  color: white;
  text-transform: uppercase; /* Capitalize the text */
}

.bottom-section {
  min-height: 55vh; /* Adjusted to fill the remaining space */
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px 10px; /* Reduce padding */
  box-sizing: border-box;
}

.bottom-logo {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px; /* Adjust margin */
}

.cta {
  margin-bottom: 1px; /* Reduce the bottom margin to decrease gap */
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0; /* Remove padding to decrease gap */
  width: 100%;
}

