body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw; /* Use viewport width to cover the entire screen */
  background-color: white; /* Set header background to white */
  color: black; /* Set header text color to black */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculations */
}

.logo {
  width: 225px;
  height: auto;
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height */
  width: 100%;
  background-color: black;
  color: white;
}

.middle-text {
  font-size: 4.5em;
  text-align: center;
  margin: 0;
}

.sub-text {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px; /* Add some space below the main text */
  color: white;
  text-transform: uppercase; /* Capitalize the text */
}

.bottom-section {
  height: 50vh; /* Full viewport height */
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.bottom-logo {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 20px;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0px;
  width: 100%;
}

.cta {
  margin-bottom: 0px; /* Reduce the bottom margin to decrease gap */
}


nav ul {
  list-style: none;
  display: flex;
  gap: 2px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: black; /* Set nav link color to black */
}

